* {
    margin: 0;
    padding: 0;

}

nav,
footer {
    width: 1200px;
    height: 20px;
    display: flex;
    direction: row;
    text-transform: uppercase;
    justify-content: center;
}

nav>div {
    display: flex;
    justify-content: space-between;
}

span {
    display: block;
    margin: 5px;

}

main {
    width: 1200px;
    height: 150px;
    background-color: darkred;
    color: white;
    display: flex;
    justify-content: space-between;

}



.btn {
    width: 50px;
    height: 20px;
    border: 2px solid white;
    border-radius: 30%;

}